@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');

* {
    box-sizing: border-box;
}
body{
    margin:auto;
    padding: auto;
    box-sizing: border-box;
    max-width: 100%;
}
h2,h1{
    text-transform: uppercase;
   
}
h1{
    font-size:65px;
}


/* HEADER*/

.container-header{
    background-image: url("../images/slideshow-25.jpg");
    height:1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#fafafa;
    padding-right:15px;
    padding-left:15px;
    font-size:20px;
    font-family: "Reem Kufi Fun",sans-serif;
    text-transform: uppercase;

}
a:hover{
    border:solid 1px #fafafa;
}
.icon{
    margin:0 15px;
}
.container-section-00 {
    display: flex;
    flex-direction: column;
  
    
    
}

.title-above{
    display: flex;
    

}
.main-subtitle h2{
    
    text-transform: capitalize;
    font-size:30px;
}

.subtitle img{
    
    width:220px;
    height:45px;
}